# Encrypted Password set to atrawog
# To create your own encrypted password use:
# HASHED_PASSWORD=`openssl passwd -6 'your_password_here`
# echo "USER_PASSWORD='$HASHED_PASSWORD'" > config.secrets

USER_PASSWORD='$6$3zdSmqBSjepl0TBt$PNwdBd8M9Co5mNxv0oyegYOI7m1gp2K/i3ZuRNPCxBfdFXcEhQrgmJxmtZr1HElq5my9y6mTVuhPaawD7ahDP1'